.card-section {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    margin-top: 380px;
    margin-left: 180px;
}

.card-section__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    grid-template-rows: 1fr minmax(min-content, 282px);
    justify-content: center;
    grid-row-gap: 10px;
}

.card-section__card {
    width: 100%;
    max-width: 282px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    padding-bottom: 10px;
}

.card__visually-hidden {
    display: none;
}

.card-section__card-img {
    display: block;
    max-width: 100%;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.card-section__card-title {
    justify-self: start;
    align-self: start;
    margin-right: 80px;
    padding: 10px;
    color: #000;
    display: inline-block;
}

.card-section__card-button {
    color: #fff;
    border: none;
    background: none;
    cursor: pointer;
}

.card-section__card-button--heart {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 21px;
    height: 19px;
    background-image: url('/svg/Group.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
}

.card__trash-button {
    position: absolute;
    top: 20px;
    right: 40px;
    background: none;
    border: none;
    cursor: pointer;
    background-image: url('/svg/Trash.svg');
    background-repeat: no-repeat;
    background-size: 20px;
}

@media screen and (max-width: 764px) {
    .card-section {
        margin-top: 500px;
    }

    .card-section__grid {
        gap: 30px;
    }
}

@media screen and (max-width: 425px) {
    .card-section {
        width: 100%;
        margin-top: 600px;
        margin-left: 0;
        margin-right: 0;
    }

    .card-section__grid {
        grid-template-columns: 1fr;
    }

    .card-section__card {
        max-width: 100%;
    }

    .card-section__card-img {
        height: auto;
        width: 100%;
    }

    .card-section__card-title,
    .card-section__card-button,
    .card__trash-button {
        position: relative;
        right: auto;
        left: auto;
    }
}

@media screen and (max-width: 320px) {
    .card-section {
        width: 100%;
        margin: 0;
        margin-top: 450px;
        margin-left: 150px;
        padding-bottom: 200px;
    }

    .card-section__grid {
        grid-template-columns: 1fr;
    }

    .card-section__card {
        max-width: 100%;
    }

    .card-section__card-img {
        height: auto;
        width: 100%;
    }

    .card-section__card-title {
        margin: 10px 0;
    }

    .card-section__card-button--heart {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }

    .card__trash-button {
        position: absolute;
        top: 10px;
        right: 40px;
    }
}