footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    bottom: 0;
    width: 100%;
    height: 60px;
    top: 1520px;

}

.footer__title {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

@media screen and (max-width: 880px) {
    footer {
        margin-left: 280px;

    }

    .footer__title {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 320px) {
    footer {
        margin-left: 0;

    }

    .footer__title {
        left: 120px;
        display: inline-flex;
        transform: translate(-10%, -50%);
    }
}