.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.footer__title {
    display: inline-flex;
    position: absolute;
    left: 280px;
    right: 0;
    top: 1000px;
    bottom: 0;
    width: 282px;
    height: 14px;

}

@media screen and (max-width: 764px) {
    .footer__title {
        margin-top: 500px;
        left: 0;
        right: 0;
        margin-left: 600px;
    }
}

@media screen and (min-width: 425px) {
    .footer__title {
        margin-left: 250px;
    }
}