/* .form__input:hover {
    border-bottom-color: #000;
  }
  
  .form__input:focus {
    border-bottom-color: #007DFF;
  }
  
  .form__input:valid {
    border-bottom: 1px solid green;
  }
  
  .form__input:invalid {
    border-bottom: 1px solid red;
  }
  
  */