.logo {
    position: relative;
    padding: 20px;
}

.logo__title {
    position: relative;
    top: 50px;
    left: 240px;
    font-size: 24px;
    color: #fff;
    margin-left: 10px;
}

.logo__line {
    margin-left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url('/svg/Line.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.logo__paragraph {
    position: relative;
    left: 340px;
    color: #ccc;
}

.logo__svg {
    width: 882px;
    height: 1px;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 1280px) {
    .logo {
        padding: 20px;
    }

    .logo__title {
        top: 50px;
        left: 240px;
        font-size: 24px;
        color: #fff;
        margin-left: 10px;
    }

    .logo__paragraph {
        left: 340px;
        color: #ccc;
    }

    .logo__line {
        margin-left: 80px;
        /* Adjust margin as needed */
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - 160px);
        /* Adjust width based on margin-left and margin-right */
        border-bottom: 1px solid #545454;
        /* Solid line with color #545454 */
        margin-right: 80px;
        /* Adjust margin-right to match margin-left for centering */
    }


    .logo__svg {
        width: 882px;
        height: 1px;
    }
}

@media screen and (max-width: 1024px) {
    .logo__title {
        left: 220px;
    }

    .logo__paragraph {
        left: 320px;
    }

    .logo__line {
        margin-left: 170px;
    }
}

@media screen and (max-width: 764px) {
    .logo__title {
        left: 230px;
    }

    .logo__paragraph {
        left: 330px;
    }

    .logo__line {
        margin-left: 33%;
        right: 0;
    }
}

@media screen and (max-width: 425px) {
    .logo__title {
        right: 150px;
        margin-right: 500px;
    }

    .logo__paragraph {
        left: 0;
    }

    .logo__line {
        left: 5%;
    }
}

@media screen and (max-width: 320px) {
    .logo {
        left: 0;
        right: 0;
        margin: 0 10px;
    }

    .logo__title {
        left: 250px;
    }

    .logo__paragraph {
        left: 360px;
    }

    .logo__line {
        left: 50%;
    }
}