/* Popup Base Styles */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 430px;
    height: 330px;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

/* Open popup */
.popup--open {
    display: block;
}

/* Close button styles */
.popup__close-button {
    position: relative;
    left: 450px;
    bottom: 80px;
    background: none;
    border: none;
    cursor: pointer;
    background-image: url('../svg/Vector.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 10px;
    transition: transform 0.2s ease-in-out;
}

/* Popup form styles */
.popup__form {
    display: flex;
    position: relative;
    top: 60px;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 0 20px;
}

.popup__form input[type="text"], .popup__form input[type="file"] {
    margin-bottom: 10px;
}

/* Submit button */
.popup__button-submit {
    position: absolute;
    left: 40px;
    top: 150px;
    padding: 10px;
    background: #000;
    color: white;
    border: none;
    cursor: pointer;
    width: 358px;
    height: 50.15px;
    transition: transform 0.2s ease-in-out;
}

.popup__button-submit:hover {
    background-color: #545454;
}

/* Title styles */
.popup__title {
    position: absolute;
    bottom: 290px;
    color: #000;
    font-weight: 900;
    font-size: 24px;
    line-height: 29.05px;
    width: 330px;
    height: 23px;
    font-family: 'Inter';
}

/* Info styles */
.popup__info, .popup__load {
    border-style: none;
    border-bottom-style: solid;
}

/* Image Viewer Popup */
.popup--image-viewer {
    display: none; /* Hidden by default */
    position: fixed;
    top: 400px;
    left: 700px;
    width: 350px;
    height: 650px;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Content inside image viewer popup */
.popup--image-viewer {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    max-width: 75vw;
    max-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Image inside the image viewer */
.popup--image-viewer .popup__image {
    max-width: 75vw;
    max-height: 75vh;
    object-fit: contain;
    border-radius: 8px;
}

/* Close button image viewer */
.popup__close-button {
    position: absolute;
    bottom: 700px;
    left: 400px;
    background-image: url('../svg/Vector.svg');
    background-repeat: no-repeat;
    background-size: 30px;
    padding-left: 10px;
    transition: transform 0.2s ease-in-out;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.popup--image-viewer .popup__close-button::after {
    background-image: url('../svg/Vector.svg');
    background-repeat: no-repeat;
    background-size: 30px;
    padding-left: 10px;
    transition: transform 0.2s ease-in-out;
}


.visually-hidden {
    display: none;
}


@media screen and (max-width: 880px) {
    .popup {
        width: 282px;
        height: 322px;
        left: 32.5%;
    }

    .popup__button-submit {
        width: 238px;
        height: 46px;
        margin-left: 100px;
        transform: translate(-50%, -50%);
    }

    .popup__close-button {
        left: 250px;
    }
}

@media screen and (max-width: 320px) {
    .popup {
        width: 282px;
        height: 322px;
        left: 35.5%;
    }

    .popup__button-submit {
        width: 238px;
        height: 46px;
        margin-left: 100px;
    }

    .popup__close-button {
        left: 230px;
        width: 26px;
        height: 26px;
    }
}
