.author {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0 10px;
    position: relative;
}

.author__title {
    position: absolute;
    font-size: 42px;
    width: 880px;
    height: auto;
    margin: 10px 0;
    top: 230px;
    left: 210px;
    right: 0;
    font-weight: 500;
    line-height: 48px;
}

.author__button {
    position: absolute;
    width: 150px;
    height: 50px;
    color: #fff;
    line-height: 22px;
    font-size: 12px;
    padding: 4px 8px;
    background-color: black;
    border: 1px solid #fff;
    cursor: pointer;
    text-align: center;
    top: 250px;
    left: 1020px;
    background-image: url('/svg/Vector.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 60px center;
    padding-left: 10px;
}

.author__button-vector {
    position: absolute;
    left: 850px;
    top: 255px;
    width: 24px;
    height: 24px;
    font-size: 18px;
    line-height: 22px;
    background-color: black;
    border: 1px solid #fff;
    cursor: pointer;
    text-align: center;
    background-image: url('/svg/pen.svg');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 10px center;
    padding-right: 5px;
}

.author__text {
    position: absolute;
    display: inline-block;
    width: 415px;
    font-size: 14px;
    top: 290px;
    left: 0;
    margin-left: 295px;
}

.author__image {
    position: absolute;
    left: 230px;
    top: 200px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 10px 0;
}

@media screen and (max-width: 1280px) {
    .author__title {
        left: 210px;
        right: 0;
        font-size: 42px;
        width: 880px;
        height: auto;
        margin: 10px 0;
        top: 230px;
        font-weight: 500;
        line-height: 48px;
    }
}

@media screen and (max-width: 1024px) {
    .author__title {
        margin-left: 5px;
    }
}

@media screen and (max-width: 764px) {
    .author__title {
        margin-left: 2px;
    }

    .author__text {
        margin-left: 300px;
    }

    .author__button {
        width: 224px;
        height: 50.15px;
        left: 0;
        right: 0;
        top: 360px;
        margin-left: 480px;
        background-position: 100px center;
    }

    .author__image {
        margin-left: 30px;
    }
}

@media screen and (max-width: 425px) {
    .author__title {
        width: 224px;
        font-size: 22px;
        line-height: 26.63px;
        top: 450px;
        left: 50%;
        transform: translateX(-50%);
    }

    .author__button {
        width: 224px;
        height: 50px;
        top: 510px;
        left: 50%;
        transform: translateX(-50%);
        background-position: 100px center;
    }

    .author__image {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .author__text {
        top: 570px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
    }

    .author__button-vector {
        top: 510px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 320px) {
    .author__title {
        width: 196px;
        font-size: 22px;
        line-height: 26.63px;
        top: 250px;
        left: 100%;
        transform: translateX(-50%);
    }

    .author__button {
        width: 282px;
        height: 50px;
        top: 390px;
        left: 0%;
        transform: translateX(-100%);
        background-position: 130px center;
    }

    .author__image {
        top: 100px;
        left: 90%;
        transform: translateX(-50%);
    }

    .author__text {
        top: 320px;
        left: 10%;
        transform: translateX(-50%);
        width: 90%;
    }

    .author__button-vector {
        top: 260px;
        left: 140%;
        transform: translateX(-50%);
    }
}