.card-section {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    margin-top: 280px;
    margin-left: 180px;
}

.card-section__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    grid-template-rows: 1fr minmax(min-content, 282px);
    justify-content: center;
    grid-row-gap: 40px;
}

.card-section__card {
    width: 100%;
    max-width: 282px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    margin: 0 auto;
}

.card__visually-hidden {
    display: none;
}

.card-section__card-img {
    display: block;
    max-width: 100%;
    height: 361px;
    width: 282px;
    border-radius: 10px 10px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-section__card-title {
    padding-left: 10px;
    color: #000;
}

.card-section__card-button {
    padding: 10px 20px;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}

.card-section__card-title {
    display: inline-block;
    position: relative;
    right: 50px;
}

.card-section__card-button--heart {
    display: inline-block;
}

.card__trash-button {
    position: relative;
    bottom: 350px;
    left: 200px;
    width: 18px;
    height: 19.3px;
    margin-right: 30px;
}

@media screen and (max-width: 764px) {
    .card-section__grid {
        gap: 30px;
    }
}

@media screen and (max-width: 425px) {
    .card-section {
        width: 100%;
        margin-top: 950px;
        margin-left: 0;
        margin-right: 0;
    }

    .card-section__grid {
        grid-template-columns: 1fr;
    }

    .card-section__card {
        max-width: 100%;
    }

    .card-section__card-img {
        height: auto;
        width: 100%;
    }

    .card-section__card-title,
    .card-section__card-button,
    .card__trash-button {
        position: relative;
        right: auto;
        left: auto;
    }
}

@media screen and (max-width: 320px) {
    .card-section {
        width: 100%;
        margin-left: 160px;
        margin-top: 550px;
        margin-right: 0;
    }

    .card-section__grid {
        grid-template-columns: 1fr;
    }

    .card-section__card {
        max-width: 100%;
    }

    .card-section__card-img {
        height: auto;
        width: 100%;
    }

    .card-section__card-title {
        position: relative;
        right: auto;
        left: auto;
    }

    .card-section__card-button {
        position: relative;
        right: auto;
        left: auto;
    }

    .card__trash-button {
        position: relative;
        top: 10px;
        left: 0;
    }
}