footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.footer__title {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    filter: blur(1px); 
    opacity: 0.5; 
}

@media screen and (max-width: 880px) {
    footer {
        margin-left: 20px;

    }

    .footer__title {
        margin-left: auto;
        margin-right: auto;
        transform: translate(-30%, -50%);
    }
}

@media screen and (max-width: 320px) {
    footer {
        margin-left: 0;

    }

    .footer__title {
        margin-left: 120px;
        display: inline-flex;
        font-size: 10px;
        transform: translate(-40%, -50%);
    }
}